{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h2>Listado de Comprobantes</h2>
        </div>
        <div class="card-body">
        <table class="table table-sm table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Concepto</th>
                    <th>Leyenda</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for comprobante in comprobantes %}
                <tr>
                    <td>{{ comprobante.numero }}</td>
                    <td>{{ comprobante.fecha|date("d/m/Y") }}</td>
                    <td>${{ comprobante.total }}</td>
                    <td>{{ comprobante.estado }}</td>
                    <td>{{ comprobante.concepto }}</td>
                    <td>{{ comprobante.leyenda }}</td>
                    <td>
                        <a class="btn btn-sm btn-secondary" href="{{ path('comprobante_show', { 'id': comprobante.id }) }}">ver</a>
                        <a class="btn btn-sm btn-info" href="{{ path('comprobante_edit', { 'id': comprobante.id }) }}">editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="card-footer">
            <a class="btn btn-sm btn-success" href="{{ path('comprobante_new') }}">nuevo comprobante</a>
        </div>
    </div>
</div>
{% endblock %}
