{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h2>Creando Comprobante</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-2">
                            {{ form_row(form.numero) }}
                        </div>
                        <div class="col-5">
                            {{ form_row(form.estado) }}
                        </div>
                        <div class="col-5">
                            {{ form_row(form.leyenda) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.concepto) }}
                        </div>
                    </div>
                    <br>
                    <h3>{{ form_label(form.asientos) }}</h3>
                    <hr>
                    {% for asiento in form.asientos %}
                        <div class="row">
                            <div class="col-4">
                                {{ form_row(asiento.numero) }}
                            </div>
                            <div class="col-4">
                                {{ form_row(asiento.debe) }}
                            </div>
                            <div class="col-4">
                                {{ form_row(asiento.haber) }}
                            </div>
                        </div>
                    {% endfor %}    

                    <input type="submit" value="Create" />
                {{ form_end(form) }}
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-sm btn-secondary" href="{{ path('comprobante_index') }}">volver a la lista</a>
        </div>        
    </div>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
