{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Comprobante</h1>

    <table class="table table-inverse">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comprobante.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ comprobante.numero }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ comprobante.fecha|date("d/m/Y") }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ comprobante.total }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ comprobante.estado }}</td>
            </tr>
            <tr>
                <th>Concepto</th>
                <td>{{ comprobante.concepto }}</td>
            </tr>
            <tr>
                <th>Leyenda</th>
                <td>{{ comprobante.leyenda }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comprobante_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comprobante_edit', { 'id': comprobante.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
