{% import "BackBundle:form:macro-asiento.html.twig" as macrosAsiento %}
<div class="well">
    <div class="row" id="mostrarinfor"></div>
    <div class="row">
        <legend class="text-center">Asientos</legend>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div>
                <table class="table table-striped table-bordered table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>numero</th>
                            <th>Debe</th>
                            <th>Haber</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asiento in form.asientos %}
                            {{ macrosAsiento.prototipoAsiento(asiento) }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>