{% extends "FOSUserBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/user/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/user/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet" />

    <style>
      body {
        padding-top: 60px;
        padding-bottom: 30px;
        background: #F5F5F5;
      }
      @media (max-width: 980px) {
        body {
          padding-top: 0;
        }
      }
    </style>
{% endblock %}

{% block body -%}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/user/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/user/js/bootstrap.js') }}"></script>
{% endblock %}