{% extends 'base.html.twig' %}

{% block body %}
    <h1>Asientos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Fecha</th>
                <th>Debe</th>
                <th>Haber</th>
                <th>Estado</th>
                <th>Concepto</th>
                <th>Leyenda</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for asiento in asientos %}
            <tr>
                <td><a href="{{ path('admin_asiento_show', { 'id': asiento.id }) }}">{{ asiento.id }}</a></td>
                <td>{{ asiento.numero }}</td>
                <td>{% if asiento.fecha %}{{ asiento.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ asiento.debe }}</td>
                <td>{{ asiento.haber }}</td>
                <td>{{ asiento.estado }}</td>
                <td>{{ asiento.concepto }}</td>
                <td>{{ asiento.leyenda }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_asiento_show', { 'id': asiento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_asiento_edit', { 'id': asiento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_asiento_new') }}">Create a new asiento</a>
        </li>
    </ul>
{% endblock %}
