{% extends 'base.html.twig' %}

{% block body %}
    <h1>Asiento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asiento.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ asiento.numero }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if asiento.fecha %}{{ asiento.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Debe</th>
                <td>{{ asiento.debe }}</td>
            </tr>
            <tr>
                <th>Haber</th>
                <td>{{ asiento.haber }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ asiento.estado }}</td>
            </tr>
            <tr>
                <th>Concepto</th>
                <td>{{ asiento.concepto }}</td>
            </tr>
            <tr>
                <th>Leyenda</th>
                <td>{{ asiento.leyenda }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_asiento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_asiento_edit', { 'id': asiento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
