{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cuentas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Nombre</th>
                <th>Imputable</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cuenta in cuentas %}
            <tr>
                <td><a href="{{ path('admin_cuenta_show', { 'id': cuenta.id }) }}">{{ cuenta.id }}</a></td>
                <td>{{ cuenta.numero }}</td>
                <td>{{ cuenta.nombre }}</td>
                <td>{{ cuenta.imputable }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_cuenta_show', { 'id': cuenta.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_cuenta_edit', { 'id': cuenta.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_cuenta_new') }}">Create a new cuenta</a>
        </li>
    </ul>
{% endblock %}
