{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cuenta</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cuenta.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ cuenta.numero }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cuenta.nombre }}</td>
            </tr>
            <tr>
                <th>Imputable</th>
                <td>{{ cuenta.imputable }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_cuenta_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_cuenta_edit', { 'id': cuenta.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
